<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Konectar Contact Us</title>
    <link rel="stylesheet" href="/styles/main.css">
</head>
<body>
    <div class="container">
        <div class="form contact-form">
    <h1>Contact Us</h1>
    <form id="contact-form" method="POST" action="/contact">
        <input type="text" name="name" placeholder="Your Name" required>
        <input type="email" name="email" placeholder="Your Email" required>
        <textarea name="message" placeholder="Your Message" cols="40" rows="5" required></textarea>
        <div>
            <button type="submit">Send Message</button>
        </div>
    </form>
</div>
</div>
</body>
</html>
